.container{
    display: grid;
    justify-content: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading{
    font-weight: 700;
    font-size: 24px;
    /* position: absolute; */
    top: 50px;
    left: 80px;
}

/* nav{
   /* position: absolute; */
   /* left:  857px;
   top: 87px;
   justify-content:space-around; */
/* } */ 

nav a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;

    
}
.nav-button{
    padding-left: 20px;
}


/* ---first-section--- */
.first-section{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.start-journey{
    height:270px ;
    width:582px;
    /* position: absolute; */
    top: 150px;
    left: 85px;
}

.heading-journey{
    font-weight: 700;
    font-size: 52px;
}
.journey-detail{
   
    font-weight: 600;
    font-size: 16px;
    
   
    
}

a{
    text-decoration: none;
    
}
.button{
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 41px;
    font-size: 16px;
    font-weight: 700;
    border: solid 1px #E02C6D;
    background-color: #E02C6D;
    color:#FFFFFF ; 
}
.dslr-camera{
    /* position: absolute; */
    left: 835px;
    top: 150px;
    width: 440px;
    height: 414px;
}

/* --logos-- */

.logos{
    /* position: absolute; */
    display: grid;
    bottom: 20px;
    left: 165px;
    top: 600px;
    width: 1110px;
    /* height: 200px;
    border: 1px solid lightgray; */
    border-radius: 14px;
    
   
    
}
.logo{
    display: grid;
    align-items: end;
    grid-template-columns: repeat(7 ,1fr);
    justify-content: center;
    padding: 40px;
    margin-left: 200px;
    margin-bottom: 30px;
}

/* ---popular-collection--- */


.popular-section{
    width: 1047;
    height: 1662;
    display: grid;
    justify-content: center;
   
}
.popular-heading{
    font-weight: 600;
    font-size: 28px;
    text-align: center;
}
.popular-gear{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
}
.gears{
    width: 329px;
    height: 476px;
    margin-bottom: 20px;
    
}
.gears img{
    width: 300px;
    height: 256px;
}
.gear-details{
    
    margin: 10px;
}

/* ---featured-products--- */
.featured-products{
    display: flex;
    width: 1124px;
    height: 270px;
    margin-top: 150px;
}
.product-place{
    display: flex;
    justify-content: space-between;
   
}
.feature-pic img{
    width: 404px;
    height: 270px;
    margin-bottom: 10px;
}
.feature-head{
    font-weight: 700;
    font-size: 38px;
}
.feature-txt{
    margin: 50px;
    margin-top: 0px;
}

/* ----fdooter--- */
.last{
    display:flex ;
    justify-content: center;
   
}
.last-part{
    margin-bottom: 50px;
}
.center{
    /* text-align: center; */
    position: absolute;
    left: 100px;
}
/* .social-logo{
    align-items: center;
    position: absolute;
    right: 670px;
} */